/* existing customer page */
.existing-customer-table{
margin-top:30px;
margin-bottom:30px;
}
@media(max-width:1030px)
{
.existing-customer-table{
margin-top:10px;
margin-bottom:60px;
}
}
.fiber-margin{
margin-top:30px !important;
margin-bottom:180px !important;
}
@media(max-width:1030px)
{
.fiber-margin{
margin-top:20px;
margin-bottom:60px;
}
}
.existing-customer-table .title_plan {
margin-top: 0;
}
.existing-customer-table .btn-outline{font-size:16px; color:#133ab7; margin: 10px auto 0;
border: 1px solid #024C9D;
color: #fff;
font-size: 16px;
padding: 10px 15px !important;
font-family: "JioTypeW04-Medium" !important;
background: #024C9D;
width: 260px;
}
.existing-customer-table .btn-outline-reverse {color:#fff; background-color:#133ab7;}
.existing-customer-table .steps-frame{
margin-top:20px;
}
.existing-customer-table .steps-frame li {
margin-bottom:5px;
}
.existing-customer-table .info-frame .app-down-btn {
margin-top: 10px;
margin-bottom: 10px;
}
@media (max-width: 768px) {
.existing-customer-table .info-frame .app-down-btn {
margin-top: 10px;
margin-bottom: 10px;
}
.existing-customer-table .btn-outline{
margin: 10px auto 0;
border: 1px solid #024C9D;
color: #fff;
font-size: 16px;
padding: 10px 15px !important;
font-family: "JioTypeW04-Medium" !important;
background: #024C9D;
width: 100%;
}
.existing-customer-table .title_plan{
margin-top:10px;
}
}
.existing-customer-table .info-frame .internal-frame{
width: 80%;
margin: 0% 15% 0% 5%;
}
.existing-customer-table .pl-0{padding-left:0px;}
@media (max-width:1030px){
.existing-customer-table{
-ms-flex-direction: column-reverse!important;
flex-direction: column-reverse!important;
}
.existing-customer-table.remove-reverse-col-mobile{
-ms-flex-direction: column!important;
flex-direction: column!important;
}
.existing-customer-table .info-frame{
margin-bottom: 30px;
}
.existing-customer-table .info-frame .internal-frame{
width:auto;
margin: 0%;
}
}	
/* existing customer page end */
.mainContainerWrap .header-container.with-bg li a img {
filter: none !important;
}
.mainContainerWrap .header-container.with-bg li a {
color: #000!important;
}
.plans-container {
margin: 10px auto 40px !important;
}
.title_plan{
color:#133ab7;
margin-top: 30px;
padding: 0 15px;
margin-bottom: 15px;
}
.txtBlack{color:#000;}
@media(max-width:767px){
.title_plan{
font-size: 24px;
}
}
/* prem */
.font-medium{
font-family: 'JioTypeW04-Medium';
}
.font-light{
font-family: 'JioTypeW04-Light' !important;
}
.font-bold{
font-family: 'JioTypeW04-Bold';
}
.border-0 {
border: 0 !important;
}
.d-inline-flex {
display: -ms-inline-flexbox!important;
display: inline-flex!important;
}
.d-flex {
display: -ms-flexbox!important;
display: flex!important;
}
.align-items-center {
-ms-flex-align: center!important;
align-items: center!important;
}
.justify-content-center {
-ms-flex-pack: center!important;
justify-content: center!important;
}
.flex-row-reverse {
-webkit-box-orient: horizontal!important;
-webkit-box-direction: reverse!important;
-ms-flex-direction: row-reverse!important;
flex-direction: row-reverse!important;
}
.w-100{
width:100%;
}
/* plan overight css */
.site-header-wrap1 ul li.active {
border-bottom: 2px solid #f5b74e !important;
}
.site-header-wrap1 ul li.active a{
font-weight: normal !important;
}
.plans-container .btn-main-plan {
min-width: 100px;
font-size: 12px;
padding: 5px 8px;
margin: 0 15px;
background-color:#133ab7;
margin: 20px auto 0;
border: 1px solid #133ab7;
display: inline-block;
text-align: center;
border-radius: 4px;
font-family: 'JioTypeW04-Medium';
text-decoration: none;
cursor: pointer;
width: auto;
}
.mainContainerWrap .footer-container.without-bg {
background-color: #fff !important;
}
.plans-container .row-bg-light-green{
background: #3C70B7;
}
.plans-container .row-bg-light-green td{ 
color:#fff !important;
}
.plans-container .row-bg-light-green-2{
background: #fff;
}
/* .plans-container .row-bg-light-green-2 td{ 
color:#fff !important;
} */
.plans-container .row-bg-red {
background: #EC1C24;
}
.plans-container .row-bg-red td {
color:#fff !important;
}
.plans-container .row-bg-orange {
background: #F47921;
}
.plans-container .row-bg-orange td {
color:#fff !important;
}
.plans-container .row-bg-gray {
background: #5A5A5A;
}
.plans-container .row-bg-gray td {
color:#fff !important;
}
.plans-container .row-bg-pink {
background: #ED018C;
}
.plans-container .row-bg-pink td {
color:#fff !important;
}
.plans-container .tariff-container-headings td {
font-family: 'JioTypeW04-Bold';
color: #133ab7;
text-transform: uppercase;
word-break: break-word;
}
@media(max-width: 767px) {
.plans-container .tariff-container-headings td {
font-size: 11px;
}
}
.plans-container .row-bg-01 td {
background: #005AAB !important;
color:#fff;
}
.plans-container .row-bg-03 td {
background: #E1E5F4 !important;
}
.text_lowercase{
text-transform: none;
font-family: 'JioTypeW04-Light';
}
.info__txt{
font-size: 12px;
line-height: 1.2;
margin-top: 3px;
display: block;
font-family: 'JioTypeW04-Light';
word-break: break-word;
}
.plans-container .col-01 td, .plans-container .col-01 th {
padding: 5px 8px;
}
.plans-container td, .plans-container th {
border-right: 1px solid #97A9B2;
border-bottom: 0px;
padding: 8px;
}
.plans-container .btn-main-plan{
margin-top: 5px;
}
/* introductory launch offer */
.btn-group-container {
padding: 0 15px;
}
@media (max-width: 1024px) {
.btn-group-container {
text-align: center;
}
}
@media (max-width: 767px){
/* .footer-container {
padding: 12px 0 70px;
} */
}
.btn-outline {
min-width: 165px;
font-size: 12px;
padding: 5px 17px;
margin: 0 15px;
background-color: transparent;
margin: 20px auto 0;
margin-right: 36px;
border: 1px solid #133ab7;
display: inline-block;
text-align: center;
border-radius: 4px;
font-family: 'JioTypeW04-Medium';
text-decoration: none;
cursor: pointer;
}
.btn-outline:hover {
text-decoration: none;
background-color:#133ab7;
color: #fff;
}
.btn-outline.active {
background-color: #133ab7;
color: #fff;
}
.plans-container .upgrade-plan-container .tariff-container-headings td {
font-family: 'JioTypeW04-Light';
text-align: center;
}
.fiber-plan-details {
position: relative;
padding: 0px 0 10px 0;
}
.fiber-plan-details .close {
opacity: 1;
padding: 10px 10px 0px 10px;
position: absolute;
right: 0;
}
.margin-top-40 {
margin-top: 40px;
}
.margin-top-20 {
margin-top: 20px;
}
/*plan-benefits-notes css starts*/
.plan-benefits-notes{
margin:30px 0px;
}
.plan-benefits-notes h5{
color:#000;
font-family: 'JioTypeW04-Medium';
font-size:12px;
}
.plan-benefits-notes p{
color:#000;
font-family: 'JioTypeW04-Light';
font-size:12px;
margin-bottom:0;
}
.plan-benefits-notes a{
font-size:12px;
color:#133ab7;
font-family: 'JioTypeW04-Medium';
}
/*plan-benefits-notes ends*/
/*introductory launch Offer*/
.table_with_border table tr
{
border-bottom:5px solid #fff;
}
.table_with_border .intro-plan-container table tr.col-01
{
border-bottom:none;
}
.margin-top
{
margin-top:10px;
}
/*introductory launch Offer ends*/
@media (max-width:767px){
.hide__inmob{
display: none; 
}
.existing-customer-table {
margin-top: 10px;
margin-bottom: 0;
}
}
/* new aaded 3 jan prem */
.bodyWrapMain {
width: 100%;
}
.bodyWrapMain .bodyWrapInner1 {
max-width: 1440px;
margin: 0 auto;
}
.jio-apps-details {
position: relative;
}
.jiofi-faq .jio-apps-details.jio-beats-faqs .section-area {
padding: 60px 0!important;
background: #f2f2f2;
}
.jio-apps-details .section-area .content {
position: relative;
}
.jio-apps-details .section-area .content {
width: 100%;
margin: 0 auto;
padding: 0 15px;
}
.jio-apps-details h2 {
text-align: left ;
font-size: 36px ;
line-height: 1.3 ;
margin-bottom: 20px ;
color:#133ab7;
}
.jio-apps-details .faq-unit {
margin-top: 15px;
}
.faq-section {
margin: 0;
border-bottom: 1px solid #b7b7b9;
}
.jio-apps-details .faq-unit .faq-section .que {
font-size: 16px ;
color: #000 ;
padding: 10px 0;
cursor: pointer;
position: relative;
}
.jio-apps-details .faq-unit .faq-section .que .down-arrow {
width: 18px;
height: 11px;
display: inline-block;
background: url(https://www.jio.com/jiostaticresources/images/homepage/jio/sprite-images.png) -35px -471px ;
}
.jio-apps-details .faq-unit .faq-section .que .down-arrow-hover {
width: 18px;
height: 11px;
display: inline-block;
background: url(https://www.jio.com/jiostaticresources/images/homepage/jio/sprite-images.png) -35px -482px;
}
.jio-apps-details .faq-unit .faq-section .ans {
display: none;
font-size: 16px ;
margin: 0 0 30px;
padding-top: 10px;
}
.moreless {
cursor: pointer;
color:#2A3890
}
.view-all-content {
float: right;
margin-top: -20px;
}
.view-all-content a {
color:#2A3890
}
/* popup */
#popup {
opacity: 1;
display: none;
background-color: rgba(0,0,0,.6);
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
padding-bottom: 0;
margin: 0;
z-index: 99999999999;
-webkit-transition: all 1s;
-moz-transition: all 1s;
transition: all 1s;
height: 100%;
overflow-y: auto;
}
#popup .popup-container {
position: relative;
margin: 56px auto;
padding: 3em 2em 2em;
background-color: #fff;
max-width: 1024px;
}
#popup .popup-container a.popup-close {
position: absolute;
top: 0;
right: 0;
padding: 0;
font-size: 20px;
text-decoration: none;
line-height: 1;
color: #000;
cursor: pointer;
text-align: center;
width: 30px;
height: 31px;
display: inline-block;
}
.jio-apps-details #popup .popup-container h2{
color:#333;
}
.black_bg{
background: #000;
}
.text-white{
color:#fff;
}
.title_common{
margin-bottom: 15px;
font-size: 40px;
color:#133ab7;
}
.section_space{
padding: 60px 0 40px;
}
.p_space p{
margin-bottom: 15px;
}
.drp-wrapper{
margin-top:15px;
}
.drp-wrapper select{
padding: 10px 21px 10px 10px;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
margin:0;
border: 0;
border-bottom: 1px solid #E3E3E3;
resize: none;
width: 100%;
float: left;
font-size: 16px;
outline: 0;
background-color: transparent;
color: #133ab7;
border-radius: 0;
-moz-border-radius: 0;
-webkit-border-radius: 0;
-o-border-radius: 0;
font-family: 'JioTypeW04-Medium';
}
.drp-wrapper .custom-select{
position: relative;
line-height: normal; 
float: left;
width: 100%;
}
.drp-wrapper .custom-select:after {
content: '';
display: inline-block;
box-sizing: border-box;
border: 0;
margin-top: 0;
width: 12px;
height: 8px;
background: url(https://www.jio.com/down-grey.png)!important;
pointer-events: none;
position: absolute;
right: 10px;
top: 17px;
}
.top_section_drp{
position: relative;
display: -ms-flexbox!important;
display: flex!important;
-ms-flex-align: center!important;
align-items: center!important;
}
.top_section_drp .col_left{
width:80%;
}
.top_section_drp .col_right{
width:20%;
}
@media(max-width:991px){
.jio-apps-details .section-area .content {
padding: 0 15px;
}
.top_section_drp{
-ms-flex-direction: column!important;
flex-direction: column!important;
}
.top_section_drp .col_left{
width:100%;
}
.top_section_drp .col_right{
width:100%;
}
.top_section_drp .col_right .drp-wrapper{
padding: 0 15px;
}
}
@media (max-width: 768px){
.popup-container {
width: 90%;
margin: 5% auto;
padding: 20px;
}
.section_space{
padding: 40px 0 0;
}
.jiofi-faq .jio-apps-details.jio-beats-faqs .section-area {
padding: 40px 0!important;
}
}
@media(max-width:767px){
.jio-apps-details h2{
font-size: 24px;
}
.title_common{
font-size: 24px;
}
}
/* end new aaded 3 jan prem */<!--rss params start selur eriWtaF 3209872534fwcs_deps:::___:::unknowndepsrss params end selur eriWtaF 32474893457-->